/* navbar  */
.logo-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}



/* hero section  */
.hero-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  max-width: 530px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hero-btn {
  background: #191a23;
  color: white;
  padding: 16px 35px;
  border-radius: 14px;
  font-size: 18px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #b9ff66;
  color: #000;
}

.hero-img {
  max-width: 100%;
}
 /* brands  */
.brands-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-logo {
  max-width: 120px;
  width: 100%;
  object-fit: contain;
  opacity: 0.7;
  transition: 0.3s;
  filter: grayscale(100%);
}

.brand-logo:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.05);
}

.services-section {
  padding: 100px 0;
}

.services-heading {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.services-heading h2 {
  background: #b9ff66;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 700;
}

.services-heading p {
  max-width: 600px;
  color: #555;
  line-height: 1.7;
}

/* CARD */
.service-card {
   background: #f3f3f3;
  border: 1px solid #191a23;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 0px #191a23;
  height: 100%;
  
}

.service-card h3{
  background-color: #b9ff66;
}

.service-card:hover {
  transform: translateY(-5px);
}

.green-card {
  background: #b9ff66;
}
 .green-card h3{
  background: #f3f3f3;
 }
.black-card{
  background: #000;

}
.row {
  margin-bottom: 30px;
}

.service-content h3 {
  font-size: 32px;
  font-weight: 700;
  max-width: 220px;
  line-height: 1.3;
}

.learn-btn {
  margin-top: 80px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
}

.learn-btn i {
  width: 40px;
  height: 40px;
  background: #191a23;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image img {
  max-width: 210px;
  width: 100%;
}

/* CTA SECTION */

.cta-section {
  padding: 80px 0;
}

.cta-box {
  background: #f3f3f3;
  border-radius: 45px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.cta-content {
  max-width: 500px;
}

.cta-content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

.cta-content p {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 35px;
}

.cta-btn {
  background: #191a23;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 14px;
  font-size: 18px;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #b9ff66;
  color: #000;
}

.cta-image img {
  width: 400px;
}

/* CASE STUDIES */

.case-section {
  padding: 100px 0;
}

.case-box {
  background: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
  display: flex;
  gap: 40px;
}
.case-box {
  background: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
  display: flex;
  gap: 40px;
}

.case-item {
  border-right: 1px solid rgba(255,255,255,0.3);
  padding-right: 40px;
  flex: 1;
}

.case-item p {
  color: white;
  line-height: 1.8;
  margin-bottom: 25px;
}

.case-item button {
  border: none;
  background: transparent;
  color:#b9ff66;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.case-item button i {
  font-size: 20px;
}

/* PROCESS SECTION */

.process-section {
  padding: 100px 0;
}

.process-item {
  border: 1px solid #191a23 !important;
  border-radius: 45px !important;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 5px 0px #191a23;
}

.process-item .accordion-button {
  background: #f3f3f3;
  padding: 40px;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  gap: 30px;
}

/* OPEN ACCORDION BACKGROUND */
.process-accordion .accordion-button:not(.collapsed) {
  background: #b9ff66;
  color: #000;
}

/* BODY COLOR */
.process-accordion .accordion-body {
  background: #b9ff66;
}
.process-number {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

.process-title {
  font-size: 30px;
  font-weight: 600;
}

.accordion-body {
  background: #b9ff66;
  padding: 0 40px 40px 40px;
  font-size: 18px;
  line-height: 1.7;
}

.accordion-button::after {
  background-size: 22px;
}

.process-accordion .accordion-button:not(.collapsed) {
  color: #000;
}

/* TEAM SECTION */

.team-section {
  padding: 100px 0;
}

.team-card {
  border: 1px solid #191a23;
  border-radius: 45px;
  padding: 40px;
  box-shadow: 0px 5px 0px #191a23;
  height: 100%;
  transition: 0.3s;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.team-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.team-profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;

  /* REACT STYLE SHAPE */
  /* border-radius: 50%; */

  /* background: #b9ff66; */

  padding: 6px;

  mix-blend-mode: multiply;

  filter: contrast(1.1);

  transition: 0.4s ease;
}

/* HOVER */
/* .team-card:hover .team-profile img {
  transform: rotate(10deg) scale(1.08);
} */
.team-profile h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-profile p {
  color: #555;
  margin: 0;
}

.linkedin-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: #191a23;
  color: #b9ff66;
  border-radius: 50%;
  flex-shrink: 0;
}

.team-card hr {
  margin: 30px 0;
  opacity: 0.2;
}

.team-text {
  color: #555;
  line-height: 1.7;
}

.team-btn-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.team-btn {
  background: #191a23;
  color: white;
  border: none;
  padding: 18px 40px;
  border-radius: 14px;
  font-size: 18px;
  transition: 0.3s;
}

.team-btn:hover {
  background: #b9ff66;
  color: #000;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  padding: 100px 0;
}

.testimonial-box {
  background: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
  overflow: hidden;
}

.testimonial-card {
  color: white;/* =========================
   BRANDS SLIDER
========================= */

.brands-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brands-track {
  display: flex;
  align-items: center;
  gap: 80px;
  width: max-content;
  animation: scrollBrands 20s linear infinite;
}

.brand-logo {
  height: 40px;
  object-fit: contain;
  transition: 0.3s;
}

.brand-logo:hover {
  transform: scale(1.1);
}

/* ANIMATION */

@keyframes scrollBrands {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
}

.testimonial-message {
  border: 1px solid #b9ff66;
  border-radius: 45px;
  padding: 40px;
  position: relative;
  margin-bottom: 40px;
}

.testimonial-message::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 40px;
  width: 25px;
  height: 25px;
  background: #191a23;
  border-left: 1px solid #b9ff66;
  border-bottom: 1px solid #b9ff66;
  transform: rotate(-45deg);
}

.testimonial-message p {
  line-height: 1.8;
  margin: 0;
}

.testimonial-user {
  padding-left: 30px;
}

.testimonial-user h4 {
  color: #b9ff66;
  font-size: 22px;
  margin-bottom: 5px;
}

.testimonial-user span {
  color: #fff;
}

.testimonial-navigation {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.testimonial-navigation button {
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
}

.dots {
  display: flex;
  gap: 12px;
}

.dots span {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
}

.dots .active-dot {
  background: #b9ff66;
  opacity: 1;
}

/* CONTACT SECTION */

.contact-section {
  padding: 100px 0;
}

.contact-box {
  background: #f3f3f3;
  border-radius: 30px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.contact-form {
  width: 55%;
  z-index: 2;
}

.contact-radio {
  display: flex;
  gap: 35px;
  margin-bottom: 40px;
}

.contact-radio label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.contact-radio input {
  width: 18px;
  height: 18px;
  accent-color: #b9ff66;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  border: 1px solid #191a23;
  border-radius: 14px;
  padding: 18px 20px;
  outline: none;
  resize: none;
}

.contact-btn {
  width: 100%;
  background: #191a23;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 14px;
  font-size: 18px;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #b9ff66;
  color: #000;
}

.contact-image img {
 width: 100%;
  max-width: 600px;
  transform: translateX(300px);
}

/* FOOTER */

.footer-section {
  padding-top: 100px;
}

.footer-box {
  background: #191a23;
  border-radius: 45px 45px 0 0;
  padding: 60px;
  color: white;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 35px;
}

.footer-logo h3 {
  margin: 0;
  font-size: 30px;
}

.footer-links {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  cursor: pointer;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: white;
  color: #191a23;
}

.footer-middle {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-contact h4 {
  display: inline-block;
  background: #b9ff66;
  color: #000;
  padding: 5px 12px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.footer-contact p {
  line-height: 1.8;
}

.footer-subscribe {
  background: #292a32;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-subscribe input {
  border: 1px solid white;
  background: transparent;
  padding: 18px 20px;
  border-radius: 14px;
  color: white;
  outline: none;
}

.footer-subscribe input::placeholder {
  color: white;
}

.footer-subscribe button {
  background: #b9ff66;
  border: none;
  padding: 18px 30px;
  border-radius: 14px;
  font-weight: 600;
}

.footer-box hr {
  margin: 50px 0 30px;
  opacity: 0.2;
}

.footer-bottom {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-bottom p,
.footer-bottom span {
  margin: 0;
}


/* =========================
   BRANDS SLIDER
========================= */

.brands-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.brands-track {
  display: flex;
  align-items: center;
  gap: 80px;
  width: max-content;
  animation: scrollBrands 20s linear infinite;
}

.brand-logo {
  height: 40px;
  object-fit: contain;
  transition: 0.3s;
}

.brand-logo:hover {
  transform: scale(1.1);
}

/* ANIMATION */

@keyframes scrollBrands {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


.flower-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* Profile image sits on top */
.team-img {
  position: absolute;
  z-index: 3;
  /* width: 54px;  */
  /* height: 54px; */
  /* border-radius: 50%; */
  /* object-fit: cover; */
  border: 2px solid #fff;
}

/* Flower sits behind image */
.flower {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.petal {
  position: absolute;
  width: 42px;
  height: 58px;
  background:#b9ff66;
  border-radius: 50%;
}

.petal1 { transform: rotate(0deg)   translateY(-50%); }
.petal2 { transform: rotate(45deg)  translateY(-50%); }
.petal3 { transform: rotate(90deg)  translateY(-50%); }
.petal4 { transform: rotate(135deg) translateY(-50%); }
.petal5 { transform: rotate(180deg) translateY(-50%); }
.petal6 { transform: rotate(225deg) translateY(-50%); }
.petal7 { transform: rotate(270deg) translateY(-50%); }
.petal8 { transform: rotate(315deg) translateY(-50%); }

.center {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: #f1d2d2;
  border-radius: 50%;
}

/* =========================
   TABLET
========================= */

@media (max-width: 992px) {

  .cta-box {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 40px 25px;
  }

  .cta-content h2 {
    font-size: 32px;
  }

  .cta-content p {
    font-size: 16px;
  }

   .hero-title {
    font-size: 42px;
  }

  .hero-text {
    font-size: 16px;
  }

  .hero-section {
    text-align: center;
  }

  .hero-title,
  .hero-text {
    margin-left: auto;
    margin-right: auto;
  }

  .service-card {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .service-content h3 {
    max-width: 100%;
  }

  .learn-btn {
    justify-content: center;
    margin-top: 40px;
  }

  .services-heading h2 {
    font-size: 32px;
  }
   .case-box {
    flex-direction: column;
    padding: 40px 30px;
  }

  .case-item {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 30px;
    padding-right: 0;
  }
  .process-number {
    font-size: 36px;
  }

  .process-title {
    font-size: 20px;
  }

  .process-item .accordion-button {
    padding: 25px;
  }

  .accordion-body {
    padding: 0 25px 25px;
  }
  .team-btn-wrapper {
    justify-content: center;
  }

  .team-card {
    padding: 30px;
  }
    .testimonial-box {
    padding: 40px 25px;
  }

  .testimonial-message {
    padding: 25px;
  }

  .contact-box{
    padding: 40px;
  }
  .contact-form{
    width: 100%;
  }

  .contact-image{
    width: 40%;
  }

  .contact-image img{
    max-width: 350px;
    transform: translateX(80px);
  }
   .footer-box {
    padding: 40px 25px;
    border-radius: 30px 30px 0 0;
  }

  .footer-top,
  .footer-middle,
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
  }

  .footer-subscribe {
    flex-direction: column;
    width: 100%;
  }

  .footer-subscribe input,
  .footer-subscribe button {
    width: 100%;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px){

  .contact-box{
    flex-direction: column;
    padding: 30px 20px;
  }

  .contact-form{
    width: 100%;
  }

  .contact-image{
   display: none;
  }

  .contact-image img{
    max-width: 280px;
    width: 100%;
    transform: translateX(0);
    margin-top: 20px;
  }

}