/* navbar  */
.logo-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}



/* hero section  */
.hero-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
  max-width: 530px;
}

.hero-text {
  font-size: 18px;
  line-height: 1.7;
  color: #555;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hero-btn {
  background: #191a23;
  color: white;
  padding: 16px 35px;
  border-radius: 14px;
  font-size: 18px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #b9ff66;
  color: #000;
}

.hero-img {
  max-width: 100%;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .hero-title {
    font-size: 42px;
  }

  .hero-text {
    font-size: 16px;
  }

  .hero-section {
    text-align: center;
  }

  .hero-title,
  .hero-text {
    margin-left: auto;
    margin-right: auto;
  }
}